
@import 'colors.css';

window, .background {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

.titlebar, headerbar {
  background-color: @headerbar_bg_color;
  color: @headerbar_fg_color;
  border-bottom: 1px solid @headerbar_border_color;
}
